.container{
	 
	 width:800px;
	 margin:0px auto;
 }
 .header{
	 border-bottom:3px dashed green;
	 padding:10px;
	 text-align:center;
	 background:#1e6a9b;
 }
 .menu li{
	 list-style-type:none;
	 display:inline-block;
	 margin-right:20px;
 }
 .menu li a{
	 text-decoration:none;
	 color:white;
	 font-size:20px;
 }
 .content{
	 background:#d4d4d4;
	 padding:10px;
	 min-height:400px;
	 height:auto;
	 
 }
 .profile-pic,.profile-info{
	 float:left;
 }
 .profile-pic{
	 width:30%;
 }
 .profile-info{
	 width:70%;
 }
 .profile-pic img{
	 margin-top:34px;
	 border:2px solid #444;
	 padding:3px;
	 border-radius:5px;
	 height:150px;
	 width:150px;
	 
 }
 .upload{
	 margin-left:25px;
	 text-decoration:none;
 }
 .success{
	 color:green;
	 background:#efefef;
	 padding:5px;
	 width:60%;
	 
 }
  .error{
	 color:red;
	 background:#efefef;
	 padding:5px;
	 width:60%;
	 
 }
 .avatar img{
	 height:50px;
	 width:50px;
	 border-radius:50%;
	 border:2px solid #efefef;
	 padding:2px;
 }